<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="back()" defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{ codigo ? 'Editar Receta' : 'Nueva Receta' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ codigo ? 'Editar Receta' : 'Nueva Receta' }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label position="stacked" class="bold-label">Producto:</ion-label>
    <ion-searchbar [(ngModel)]="textoBuscar" (ionInput)="filtrarProductos()" placeholder="Buscar producto..."></ion-searchbar>
  </ion-item>
  
  <ion-item>
    <ion-select [(ngModel)]="producto" interface="popover" placeholder="Seleccionar producto">
      <ion-select-option *ngFor="let prod of productosFiltrados" [value]="prod.PRO_CODE">
        {{ prod.PRO_NAME }}
      </ion-select-option>
    </ion-select>
  </ion-item>
  

  <!-- Estado de la receta -->
  <ion-item>
    <ion-label position="stacked" class="bold-label">Estado:</ion-label>
    <ion-select [(ngModel)]="estado">
      <ion-select-option value="1">Activo</ion-select-option>
      <ion-select-option value="0">Inactivo</ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Botón guardar -->
  <ion-button expand="full" (click)="guardar()">
    {{ codigo ? 'Actualizar' : 'Guardar' }}
  </ion-button>
</ion-content>
