<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="back()" defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{ codigo ? 'Editar Piso' : 'Nuevo Piso' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="stacked">Nombre:</ion-label>
    <ion-input type="text" [(ngModel)]="nombre"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Tipo:</ion-label>
    <ion-input [(ngModel)]="tipo"></ion-input>
  </ion-item>

  

  <ion-item>
    <ion-label position="stacked">Estado:</ion-label>
    <ion-select [(ngModel)]="estado">
      <ion-select-option value="0">Activo</ion-select-option>
      <ion-select-option value="1">Inactivo</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button expand="full" (click)="guardar()">
    {{ codigo ? 'Actualizar' : 'Guardar' }}
  </ion-button>
</ion-content>