<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Reservas - {{branchName}}</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="back()">Atrás</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Filtros de búsqueda -->
  <ion-item>
    <ion-input
      [(ngModel)]="nombreCliente"
      placeholder="Buscar por nombre"
      (ionChange)="buscarPorNombre()"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Buscar por fecha:</ion-label>
    <ion-input
      type="date"
      [(ngModel)]="fechaReserva"
      (ionChange)="buscarPorFecha()"
    ></ion-input>
    <ion-button fill="clear" (click)="limpiarFiltros()">Limpiar</ion-button>
  </ion-item>

  <!-- Lista de reservas -->
  <ion-list>
    <ion-item *ngFor="let booking of bookings">
      <ion-label>
        <h2>{{booking.nombre_cliente}}</h2>
        <p>Mesa: {{booking.mesa_nombre}}</p>
        <p>Fecha: {{booking.fecha_reserva | date:'medium'}}</p>
        <p>Estado: {{booking.estado === '0' ? 'Activo' : 'Inactivo'}}</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button *ngIf="rol !== 'Mesero'" fill="clear" color="warning" (click)="openBookingModal(booking)">
          <ion-icon name="create"></ion-icon>
        </ion-button>
        <ion-button *ngIf="rol !== 'Mesero'" fill="clear" color="danger" (click)="deleteBooking(booking.id)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
        <ion-button *ngIf="rol === 'Mesero'" fill="clear" color="primary" (click)="addOrder(booking)">
          <ion-icon name="cart"></ion-icon>
          <ion-label>Agregar pedido</ion-label>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <ion-fab *ngIf="rol !== 'Mesero'" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openBookingModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>

