<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Administración de Inventario</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="cancelar()"> Menú </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input [(ngModel)]="nombreProducto" placeholder="Buscar Producto"></ion-input>
    <ion-button expand="full" (click)="buscarProductos()">Buscar</ion-button>
  </ion-item>

  <ion-list>
    <ion-item *ngFor="let producto of Productos">
      <ion-avatar slot="start">
        <img [src]="getImageUrl(producto.imagen)" alt="Vista previa">
      </ion-avatar>
      <ion-label>
        <h2>{{ producto.nombre }}</h2>
        <p>Tipo: {{ producto.tipo == 1 ? 'Producto' : 'Servicio' }}</p>
        <p>Precio: {{ producto.precio | currency }}</p>
        <p>Stock: {{ producto.stock }}</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="irEditar(producto.codigo)">
          <ion-icon name="create"></ion-icon>
        </ion-button>
        <ion-button (click)="eliminar(producto.codigo)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="nuevo()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>