<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="back()"></ion-back-button>
    </ion-buttons>
    <ion-title>Registrar Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="stacked">Nombre:</ion-label>
    <ion-input [(ngModel)]="nombre"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Apellido:</ion-label>
    <ion-input [(ngModel)]="apellido"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Email:</ion-label>
    <ion-input type="email" [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Contraseña:</ion-label>
    <ion-input type="password" [(ngModel)]="password"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Teléfono:</ion-label>
    <ion-input type="tel" [(ngModel)]="telefono"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Dirección:</ion-label>
    <ion-input [(ngModel)]="direccion"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Sucursal:</ion-label>
    <ion-select (ionChange)="onBranchSelect($event)" [value]="selectedBranchId">
      <ion-select-option *ngFor="let branch of branches" [value]="branch.id">
        {{ branch.nombre }} - {{ branch.direccion }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button expand="full" (click)="guardarUsuario()">Guardar</ion-button>
</ion-content>