<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>Inicio Sesión</ion-title>
    <!-- Título de la página en la barra de herramientas -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Contenedor principal que ocupa toda la pantalla -->
  <div class="login-container">
    <!-- Contenedor que centra el formulario -->
    <ion-card style="background-color: #0a2538">
      <!-- Tarjeta que contiene el formulario de inicio de sesión -->
      <ion-card-header>
        <ion-card-title>Iniciar Sesión</ion-card-title>
        <!-- Título de la tarjeta -->
      </ion-card-header>

      <ion-card-content>
        <!-- Contenido principal del formulario -->

        <ion-item>
          <ion-label position="floating" color="light"
            >Correo Electrónico</ion-label
          >
          <!-- Etiqueta para el campo de correo electrónico -->
          <ion-input
            type="email"
            color="light"
            [(ngModel)]="USAD_EMAIL"
          ></ion-input>
          <!-- Campo de entrada para el correo electrónico -->
        </ion-item>

        <ion-item>
          <ion-label position="floating" color="light">Contraseña</ion-label>
          <!-- Etiqueta para el campo de contraseña -->
          <ion-input
            type="password"
            color="light"
            [(ngModel)]="USAD_PASSWORD"
          ></ion-input>
          <!-- Campo de entrada para la contraseña -->
        </ion-item>

        <ion-button expand="block" color="primary" (click)="login()"
          >Ingresar</ion-button
        >
        <!-- Botón de inicio de sesión -->

        <ion-button
          expand="block"
          fill="clear"
          color="secondary"
          (click)="passwordRecovery()"
        >
          ¿Olvidaste tu contraseña?
        </ion-button>
        <!-- Botón para recuperar la contraseña -->

        <ion-button
          expand="block"
          fill="clear"
          color="secondary"
          (click)="createUser()"
        >
          Crear una cuenta
        </ion-button>
        <!-- Botón para crear una nueva cuenta -->
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
