<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Administrar Usuarios</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="back()">Atrás</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Segmento para cambiar entre empleados y clientes -->
  <ion-segment value="empleados" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="empleados">
      <ion-label>Empleados</ion-label>
    </ion-segment-button>
    <ion-segment-button value="clientes">
      <ion-label>Clientes</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- Buscador -->
  <ion-searchbar 
    [(ngModel)]="busqueda" 
    (ionChange)="buscarUsuarios()" 
    placeholder="Buscar por nombre o apellido">
  </ion-searchbar>

  <!-- Lista de usuarios -->
  <ion-list>
    <ion-list-header>
      <ion-label>{{segmento === 'empleados' ? 'Empleados' : 'Clientes'}}</ion-label>
    </ion-list-header>

    <ion-item *ngFor="let usuario of usuarios">
      <ion-label>
        <h2>{{ usuario.nombre }} {{ usuario.apellido }}</h2>
        <p>{{ usuario.email || 'No tiene email' }}</p>
        <p>{{ usuario.telefono }}</p>
        <p>{{ usuario.id_info }}</p>
        <p>{{ usuario.usuario.id }}</p>
       
        <p *ngIf="segmento === 'empleados'">Rol: {{ usuario.tipo_rol || 'Sin rol asignado' }}</p>
      </ion-label>
      
      <ion-button fill="clear" color="warning" (click)="openUserModal(usuario)">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
      
      <ion-button fill="clear" color="danger" (click)="deleteUser(usuario.id, segmento === 'empleados')">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <!-- Botón flotante para agregar -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openUserModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>